body {
	background-color: #3368d3;
	color: white;
}

#deviceIP {
	margin-right: 10px;
}

.button {
	background-color: white;
	color: black;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 5px;
	/*border: 1px solid black;*/
	margin: 0 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.button:hover {
	cursor: pointer;
}

#nowPlaying {
	text-align: center;
	margin-top: 50px;
}

#back {
	background-color: white;
	width: 75%;
	height: 10px;
	margin: auto;
	position: relative;
}

#front {
	background-color: black;
	width: 0%;
	height: 8px;
	margin-top: 1px;
	position: absolute;
	left: 0px;
}

img {
	height: 100px;
	width: 100px;
}

#queue {
	margin-top: 50px;
	display: inline-block;
	/*margin: auto;
	text-align: center;*/
	width: 100%;
	text-align: center;
}

.music_option {
	background-color: #99bad3;
	border-radius: 15px;
	display: inline-block;
	/*float: left;*/
	width: 300px;
	position: relative;
	padding: 15px 15px;
	margin: 10px 5px;
	text-align: left;
}

.music_option * {
	/*background-color: red;*/
	text-align: left;
}

.music_option img {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.music_option .meta {
	/*width: 100px;*/
	height: 100px;
	display: inline-block;
	position: absolute;
	margin-left: 20px;
	/*padding-bottom: 20px auto;*/
}

.music_option .meta * {
	/*background-color: blue;*/
	margin: 12px auto;
}

.no_select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.disabled {
	background-color: #363539;
	color: white;
}